* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-container{
  display: grid;
  grid-template-columns: auto;
  /* display: flex;
  flex-wrap: wrap; */
  gap: 2rem;
  padding: 2rem 3rem;
  /* text-align: center; */
}

::-webkit-scrollbar{
  width: 0;
}